DB_USER=db_user
DB_PASS=db_pass
DB_NAME=db_name
DB_PORT=db_port
DB_HOST=db_host

# База для тестов
TEST_DB_USER=test_db_user
TEST_DB_PASS=test_db_pass
TEST_DB_NAME=test_db_name
TEST_DB_PORT=test_db_port
TEST_DB_HOST=test_db_host

SECRET_KEY=secret_key
ACCESS_TOKEN_EXPIRE_MINUTES=30